<footer class="bg-[#24262b] py-16">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="footer-col w-full sm:w-1/2 lg:w-1/4 px-4 mb-10">
          <h4 class="text-white text-lg font-medium mb-9 relative">Company
            <span class="absolute left-0 bottom-[-10px] w-12 h-[2px] bg-[#345438]"></span>
          </h4>
          <ul class="list-none">
            <li><a href="#" class="text-[#bbbbbb] text-xl font-light hover:text-white hover:pl-2 transition-all">About us</a></li>
            <li><a href="#" class="text-[#bbbbbb] text-xl font-light hover:text-white hover:pl-2 transition-all">Our services</a></li>
            <li><a href="#" class="text-[#bbbbbb] text-xl font-light hover:text-white hover:pl-2 transition-all">Privacy policy</a></li>
            <li><a href="#" class="text-[#bbbbbb] text-xl font-light hover:text-white hover:pl-2 transition-all">Affiliate program</a></li>
          </ul>
        </div>
        <div class="footer-col w-full sm:w-1/2 lg:w-1/4 px-4 mb-10">
          <h4 class="text-white text-lg font-medium mb-9 relative">Get help
            <span class="absolute left-0 bottom-[-10px] w-12 h-[2px] bg-[#345438]"></span>
          </h4>
          <ul class="list-none">
            <li><a href="#" class="text-[#bbbbbb] text-xl font-light hover:text-white hover:pl-2 transition-all">FAQ</a></li>
            <li><a href="#" class="text-[#bbbbbb] text-xl font-light hover:text-white hover:pl-2 transition-all">Returns</a></li>
            <li><a href="#" class="text-[#bbbbbb] text-xl font-light hover:text-white hover:pl-2 transition-all">Order status</a></li>
            <li><a href="#" class="text-[#bbbbbb] text-xl font-light hover:text-white hover:pl-2 transition-all">Payment options</a></li>
          </ul>
        </div>
        <div class="footer-col w-full sm:w-1/2 lg:w-1/4 px-4 mb-10">
          <h4 class="text-white text-lg font-medium mb-9 relative">Online shop
            <span class="absolute left-0 bottom-[-10px] w-12 h-[2px] bg-[#345438]"></span>
          </h4>
          <ul class="list-none">
            <li><a href="#" class="text-[#bbbbbb] text-xl font-light hover:text-white hover:pl-2 transition-all">Job Search</a></li>
            <li><a href="#" class="text-[#bbbbbb] text-xl font-light hover:text-white hover:pl-2 transition-all">Internship Search</a></li>
            <li><a href="#" class="text-[#bbbbbb] text-xl font-light hover:text-white hover:pl-2 transition-all">CV Creation</a></li>
            <li><a href="#" class="text-[#bbbbbb] text-xl font-light hover:text-white hover:pl-2 transition-all">Portfolio Development</a></li>
          </ul>
        </div>
        <div class="footer-col w-full sm:w-1/2 lg:w-1/4 px-4 mb-10">
          <h4 class="text-white text-lg font-medium mb-9 relative">Follow us
            <span class="absolute left-0 bottom-[-10px] w-12 h-[2px] bg-[#345438]"></span>
          </h4>
          <div class="flex">
            <a href="#" class="inline-block h-10 w-10 bg-white bg-opacity-20 rounded-full text-white text-center leading-10 mr-2 mb-2 transition-all hover:bg-white hover:text-[#24262b]">
              <img src="assets/linkedin.png" alt="linkedin">
            </a>
            <a href="#" class="inline-block h-10 w-10 bg-white bg-opacity-20 rounded-full text-white text-center leading-10 mr-2 mb-2 transition-all hover:bg-white hover:text-[#24262b]">
              <img src="assets/x.png" alt="X">
            </a>
            <a href="#" class="inline-block h-10 w-10 bg-white bg-opacity-20 rounded-full text-white text-center leading-10 mr-2 mb-2 transition-all hover:bg-white hover:text-[#24262b]">
              <img src="assets/instagram.png" alt="instagram">
            </a>
            <a href="#" class="inline-block h-10 w-10 bg-white bg-opacity-20 rounded-full text-white text-center leading-10 mr-2 mb-2 transition-all hover:bg-white hover:text-[#24262b]">
              <img src="assets/facebook.png" alt="facebook">
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  