<div class="cv-container mx-auto  bg-gray-50 shadow-lg rounded-lg">
    <h1 class="text-3xl font-bold text-center text-blue-800 mb-6">Curriculum Vitae</h1>
  
    <!-- Personal Information Section -->
    <div class="section bg-white p-2 rounded-lg shadow-md mb-6">
      <h2 class="text-xl font-semibold text-blue-800 border-b pb-2 mb-4">Personal Information</h2>
      <div class="flex items-center space-x-6">
        <picture>
          <div class="flex-shrink-0 w-24 h-24">
            <img
              *ngIf="cvData?.profilePicture"
              [src]="cvData?.profilePicture"
              alt="Profile Image"
              class="rounded-full border-2 border-blue-800 object-cover w-full h-full"
            />
          </div>
        </picture>
        <div class="text-gray-700">
          <p><strong>First Name:</strong> {{ cvData?.personalInfo?.firstName }}</p>
          <p><strong>Last Name:</strong> {{ cvData?.personalInfo?.lastName }}</p>
          <p><strong>Email:</strong> {{ cvData?.personalInfo?.email }}</p>
          <p><strong>Phone:</strong> {{ cvData?.personalInfo?.phone }}</p>
        </div>
      </div>
    </div>
  
    <!-- Professional Summary Section -->
    <div class="section bg-white p-6 rounded-lg shadow-md mb-6">
      <h2 class="text-xl font-semibold text-blue-800 border-b pb-2 mb-4">Professional Summary</h2>
      <p class="text-gray-700">{{ cvData?.professionalSummary }}</p>
    </div>
  
    <!-- Education Section -->
    <div class="section bg-white p-6 rounded-lg shadow-md mb-6">
      <h2 class="text-xl font-semibold text-blue-800 border-b pb-2 mb-4" *ngIf="cvData?.educationPrinciple">Education</h2>
  
      <div *ngFor="let education of cvData?.educationPrinciple" class="space-y-4 text-gray-700">
        
        <p *ngIf="education.institution.length > 0"><strong>Institution:</strong> {{ education?.institution }}</p>
        <p *ngIf="education.degree.length > 0"><strong>Degree:</strong> {{ education?.degree }}</p>
        <p *ngIf="education.specialization.length > 0"><strong>Specialization:</strong> {{ education?.specialization }}</p>
        <p *ngIf="education.startEdu.length > 0"><strong>Start Date:</strong> {{ education?.startEdu }}</p>
        <p *ngIf="education.endEdu.length > 0"><strong>End Date:</strong> {{ education?.endEdu }}</p>
        <p *ngIf="education.location.length > 0"><strong>Location:</strong> {{ education?.location }}</p>
        <h2 class="text-xl font-semibold text-blue-800 border-b pb-2 mb-4" *ngIf="cvData?.educationPrinciple"><br>--------</h2>
  
  
      </div>
    </div>
  
    <!-- Experiences Section -->
    <div class="section bg-white p-6 rounded-lg shadow-md mb-6">
      <h2 class="text-xl font-semibold text-blue-800 border-b pb-2 mb-4">Experiences</h2>
      <div *ngIf="cvData?.experiences?.length === 0" class="text-gray-500">No experiences added yet.</div>
      <div *ngFor="let experience of cvData?.experiences" class="space-y-4 text-gray-700">
        <p *ngIf="experience.jobTitle.length > 0"><strong>Job Title:</strong> {{ experience?.jobTitle }}</p>
        <p *ngIf="experience.company.length > 0"><strong>Company:</strong> {{ experience?.company }}</p>
        <p *ngIf="experience.startDate.length > 0"><strong>Start Date:</strong> {{ experience?.startDate }}</p>
        <p *ngIf="experience.endDate.length > 0"><strong>End Date:</strong> {{ experience?.endDate }}</p>
        <p *ngIf="experience.description.length > 0"><strong>Description:</strong> {{ experience?.description }}</p>
        <h2 class="text-xl font-semibold text-blue-800 border-b pb-2 mb-4" *ngIf="cvData?.experiences"><br>--------</h2>
  
      </div>
    </div>
  
    <!-- Projects Section -->
    <div class="section bg-white p-6 rounded-lg shadow-md mb-6">
      <h2 class="text-xl font-semibold text-blue-800 border-b pb-2 mb-4">Projects</h2>
      <div *ngIf="cvData?.projects?.length === 0" class="text-gray-500">No projects added yet.</div>
      <div *ngFor="let project of cvData?.projects" class="space-y-4 text-gray-700">
        <p *ngIf="project.projectTitle.length > 0"><strong>Title:</strong> {{ project?.projectTitle }}</p>
        <p *ngIf="project.description.length > 0"><strong>Description:</strong> {{ project?.description }}</p>
        <p *ngIf="project.technologies.length > 0"><strong>Technologies:</strong> {{ project?.technologies }}</p>
        <p *ngIf="project.linkcertficat.length > 0">
          <strong>Certificate Link:</strong>
          <a [href]="project?.linkcertficat" target="_blank" class="text-blue-600 underline">View project</a>
        </p>
        <h2 class="text-xl font-semibold text-blue-800 border-b pb-2 mb-4" *ngIf="cvData?.projects"><br>--------</h2>
  
      </div>
    </div>
  
    <!-- Certifications Section -->
    <div class="section bg-white p-6 rounded-lg shadow-md">
      <h2 class="text-xl font-semibold text-blue-800 border-b pb-2 mb-4">Certifications</h2>
      <div *ngIf="cvData?.certifications?.length === 0" class="text-gray-500">No certifications added yet.</div>
      <div *ngFor="let certification of cvData?.certifications" class="space-y-4 text-gray-700">
        <p *ngIf="certification.certificationName.length > 0"><strong>Certification Name:</strong> {{ certification?.certificationName }}</p>
        <p *ngIf="certification.issuingOrganization.length > 0"><strong>Issuing Organization:</strong> {{ certification?.issuingOrganization }}</p>
        <p *ngIf="certification.year.length > 0"><strong>Year:</strong> {{ certification?.year }}</p>
        <p *ngIf="certification.url.length > 0">
          <strong>Certificate Link:</strong>
          <a [href]="certification?.url" target="_blank" class="text-blue-600 underline">View Certificate</a>
        </p>
        <h2 class="text-xl font-semibold text-blue-800 border-b pb-2 mb-4" *ngIf="cvData?.certifications"><br>--------</h2>
  
      </div>
    </div>
  </div>
  