<div class="min-h-screen bg-[#1a0033] text-gray-100 flex flex-col lg:flex-row">
  <div class="flex-1 overflow-y-auto p-4 lg:p-8">
    <div class="bg-[#150129] w-full max-w-3xl rounded-lg shadow-lg p-6 lg:p-8">
      <div class="flex flex-col lg:flex-row space-y-4 lg:space-y-0 lg:space-x-4">
        
        <!-- Bouton Toggle CV -->
        <div>
          <!-- [ngStyle]="{'background-color': isCvVisible ? 'red' : 'black'}" -->
          <button 
            (click)="toggleCv()" 
         
            class="mb-4 p-2  text-white rounded-lg hover:bg-gray-600 transition duration-300 w-full lg:w-auto">
            <ng-container *ngIf="!isCvVisible">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-closed">
                <path d="m15 18-.722-3.25"/>
                <path d="M2 8a10.645 10.645 0 0 0 20 0"/>
                <path d="m20 15-1.726-2.05"/>
                <path d="m4 15 1.726-2.05"/>
                <path d="m9 18 .722-3.25"/>
              </svg>
            </ng-container>
            <ng-container *ngIf="isCvVisible">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye">
                <path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"/>
                <circle cx="12" cy="12" r="3"/>
              </svg>
            </ng-container>
          </button>
        </div>
        
        <div class="space-x-4">
          <app-color-picker></app-color-picker>
        </div>
        
       
   
        
      </div>
  
 

      
      
      
      <!-- Titre du formulaire -->
      <h1 class="text-3xl font-semibold text-center text-white mb-6">
        Create Your CV
      </h1>

      <!-- Étapes du formulaire -->
      <div class="flex justify-between mb-8">
        <div *ngFor="let step of steps; let i = index" class="flex flex-col items-center">
          <div
            [ngClass]="{
              'bg-[#1726fc] text-white': i === currentStep,
              'bg-gray-700 text-gray-300': i !== currentStep
            }"
            class="w-8 h-8 flex items-center justify-center rounded-full"
          >
            {{ i + 1 }}
          </div>
          <span [ngClass]="{ 'text-white': i === currentStep, 'text-gray-300': i !== currentStep }" class="mt-2">
            {{ step.title }}
          </span>
        </div>
      </div>

      <div [ngSwitch]="currentStep">
        <form [formGroup]="resumeForm" (ngSubmit)="onSubmit()">
          <div *ngSwitchCase="0" formGroupName="personalInfo">
            <div class="grid grid-cols-1">
              <div class="flex flex-col items-center">
                <label class="cursor-pointer">
                  <input 
                    type="file" 
                    formControlName="profilePicture" 
                    (change)="onFileSelected($event)" 
                    class="hidden"
                  />
                  <div class="px-6 py-3 bg-[#1726fc] text-white rounded-lg hover:bg-[#0d18a8] text-center transition duration-200">
                    Upload Profile Picture
                  </div>
                </label>
            
                <!-- Aperçu de l'image -->
                <div class="w-32 h-32 mt-4" *ngIf="imagePreview">
                  <img *ngIf="imagePreview" 
                       [src]="imagePreview" 
                       alt="Preview" 
                       class="w-full h-full object-cover rounded-full border-2 border-[#0d18a8] shadow-lg" 
                  />
                </div>
              </div>
            
              <!-- Prénom -->
              <div>
                <label for="firstName" class="block text-gray-300 font-medium mb-2">First Name</label>
                <input
                  type="text"
                  [(ngModel)]="from.firstName"
                  formControlName="firstName"
                  class="w-full p-2 border border rounded-lg focus:outline-none focus:border-[#1726fc] bg-gray-700 text-gray-100"
                />
              </div>
              <!-- Nom -->
              <div>
                <label for="lastName" class="block text-gray-300 font-medium mb-2">Last Name</label>
                <input
                  type="text"
                  [(ngModel)]="from.lastName"
                  formControlName="lastName"
                  class="w-full p-2 border border rounded-lg focus:outline-none focus:border-[#1726fc] bg-gray-700 text-gray-100"
                />
              </div>
            </div>
            <div>
              <label for="jobtitle" class="block text-gray-300 font-medium mb-2">jobtitle</label>
              <input
                type="jobtitle"
                [(ngModel)]="from.jobtitle"
                formControlName="jobtitle"
                class="w-full p-2 border border rounded-lg focus:outline-none focus:border-[#1726fc] bg-gray-700 text-gray-100"
                />
            </div>
            <!-- Email et téléphone -->
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
              <div>
                <label for="email" class="block text-gray-300 font-medium mb-2">Email</label>
                <input
                  type="email"
                  [(ngModel)]="from.email"
                  formControlName="email"
                  class="w-full p-2 border border rounded-lg focus:outline-none focus:border-[#1726fc] bg-gray-700 text-gray-100"
                />
              </div>
              <div>
                <label for="phone" class="block text-gray-300 font-medium mb-2">Phone</label>
                <input
                  type="tel"
                  [(ngModel)]="from.phone"
                  formControlName="phone"
                  class="w-full p-2 border border rounded-lg focus:outline-none focus:border-[#1726fc] bg-gray-700 text-gray-100"
                />
              </div>
        
              <div class="flex flex-col">
                <label for="linkedin" class="text-sm font-medium text-gray-300">linkedin</label>
                <input [(ngModel)]="from.linkedin" formControlName="linkedin" type="url" class="p-2 border border rounded-md bg-gray-700 text-gray-100" />
              </div>
              <div class="flex flex-col">
                <label for="github" class="text-sm font-medium text-gray-300">github</label>
                <input [(ngModel)]="from.github" formControlName="github" type="url" class="p-2 border border rounded-md bg-gray-700 text-gray-100" />
              </div>

            </div>
          </div>

          <!-- Étape 2 : Résumé professionnel -->
          <div *ngSwitchCase="1">
            <label for="summary" class="block text-gray-300 font-medium mb-2">Professional Summary</label>
            <textarea
              [(ngModel)]="from.summary"
              formControlName="professionalSummary"
              class="w-full p-2 border border rounded-lg focus:outline-none focus:border-[#1726fc] bg-gray-700 text-gray-100"
            ></textarea>
          </div>

          <!-- Étape 3 : Éducation -->
          <div *ngSwitchCase="2">
            <div formArrayName="educationPrinciple">
              <div *ngFor="let edu of educationPrinciple.controls; let i = index" [formGroupName]="i" class="mb-6">
                <!-- Nom de l'institution -->
                <div class="mb-4">
                  <label for="institution" class="block text-gray-300 font-medium mb-2">Institution Name</label>
                  <input
                    [(ngModel)]="from.institution"
                    formControlName="institution"
                    class="w-full p-2 border border rounded-lg focus:outline-none focus:border-[#1726fc] bg-gray-700 text-gray-100"
                  />
                </div>

                <!-- Diplôme obtenu -->
                <div class="mb-4">
                  <label for="degree" class="block text-gray-300 font-medium mb-2">Degree</label>
                  <input
                    [(ngModel)]="from.degree"
                    formControlName="degree"
                    class="w-full p-2 border border rounded-lg focus:outline-none focus:border-[#1726fc] bg-gray-700 text-gray-100"
                  />
                </div>

                <!-- Spécialisation -->
                <div class="mb-4">
                  <label for="specialization" class="block text-gray-300 font-medium mb-2">Specialization</label>
                  <input
                    [(ngModel)]="from.specialization"
                    formControlName="specialization"
                    class="w-full p-2 border border rounded-lg focus:outline-none focus:border-[#1726fc] bg-gray-700 text-gray-100"
                  />
                </div>

                <!-- Date de début -->
                <div class="mb-4">
                  <label for="startEdu" class="block text-gray-300 font-medium mb-2">Start Date</label>
                  <input
                    [(ngModel)]="from.startEdu"
                    type="date"
                    formControlName="startEdu"
                    class="w-full p-2 border border rounded-lg focus:outline-none focus:border-[#1726fc] bg-gray-700 text-gray-100"
                  />
                </div>

                <!-- Date de fin -->
                <div class="mb-4">
                  <label for="endEdu" class="block text-gray-300 font-medium mb-2">End Date</label>
                  <input
                    [(ngModel)]="from.endEdu"
                    type="date"
                    formControlName="endEdu"
                    class="w-full p-2 border border rounded-lg focus:outline-none focus:border-[#1726fc] bg-gray-700 text-gray-100"
                  />
                </div>

                <!-- Localisation -->
                <div class="mb-4">
                  <label for="location" class="block text-gray-300 font-medium mb-2">Location</label>
                  <input
                    [(ngModel)]="from.location"
                    formControlName="location"
                    class="w-full p-2 border border rounded-lg focus:outline-none focus:border-[#1726fc] bg-gray-700 text-gray-100"
                  />
                </div>

                <!-- Bouton pour supprimer une éducation -->
                <button
                  type="button"
                  *ngIf="educationPrinciple.length > 1"
                  (click)="removeEducation(i)"
                  class="mt-2 bg-red-500 text-white py-1 px-4 rounded-lg hover:bg-red-600"
                >
                  Remove Education
                </button>
              </div>
            </div>

            <!-- Bouton pour ajouter une éducation -->
            <div class="text-center">
              <button
                type="button"
                (click)="addEducationPrinciple()"
                class="mt-6 bg-[#1726fc] text-white px-6 py-3 rounded-lg hover:bg-[#0d18a8] focus:outline-none focus:ring-2 focus:ring-[#0d18a8]"
              >
                Add Education
              </button>
            </div>
          </div>

<!-- Étape 4 : Expériences professionnelles -->
<div *ngSwitchCase="3" formArrayName="experiences">
  <div *ngFor="let experience of experiences.controls; let i = index" [formGroupName]="i" class="mb-6">
    <!-- Titre du poste -->
    <div class="mb-4">
      <label for="jobTitle" class="block text-gray-300 font-medium mb-2">Job Title</label>
      <input [(ngModel)]="from.jobTitle" formControlName="jobTitle" class="w-full p-2 border border rounded-lg focus:outline-none focus:border-[#1726fc] bg-gray-700 text-gray-100" />
    </div>

    <!-- Entreprise -->
    <div class="mb-4">
      <label for="company" class="block text-gray-300 font-medium mb-2">Company</label>
      <input [(ngModel)]="from.company" formControlName="company" class="w-full p-2 border border rounded-lg focus:outline-none focus:border-[#1726fc] bg-gray-700 text-gray-100" />
    </div>

    <!-- Dates de début et de fin -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
      <div class="mb-4">
        <label for="startDate" class="block text-gray-300 font-medium mb-2">Start Date</label>
        <input [(ngModel)]="from.startDate" formControlName="startDate" type="date" class="w-full p-2 border border rounded-lg focus:outline-none focus:border-[#1726fc] bg-gray-700 text-gray-100" />
      </div>
      <div class="mb-4">
        <label for="endDate" class="block text-gray-300 font-medium mb-2">End Date</label>
        <input [(ngModel)]="from.endDate" formControlName="endDate" type="date" class="w-full p-2 border border rounded-lg focus:outline-none focus:border-[#1726fc] bg-gray-700 text-gray-100" />
      </div>
    </div>

    <!-- Description des responsabilités -->
    <div class="mb-4">
      <label for="description" class="block text-gray-300 font-medium mb-2">Responsibilities and Tasks</label>
      <textarea [(ngModel)]="from.description" formControlName="description" rows="4" class="w-full p-2 border border rounded-lg focus:outline-none focus:border-[#1726fc] bg-gray-700 text-gray-100"></textarea>
    </div>

    <!-- Bouton pour supprimer une expérience -->
    <button
      type="button"
      *ngIf="experiences.length > 1"
      (click)="removeExperience(i)"
      class="mt-2 bg-red-500 text-white py-1 px-4 rounded-lg hover:bg-red-600"
    >
      Remove Experience
    </button>
  </div>

  <!-- Bouton pour ajouter une expérience -->
  <div class="text-center">
    <button type="button" (click)="addExperience()" class="mt-6 bg-[#1726fc] text-white px-6 py-3 rounded-lg hover:bg-[#0d18a8] focus:outline-none focus:ring-2 focus:ring-[#0d18a8]">
      Add Another Experience
    </button>
  </div>
</div>

          <!-- Étape 5 : Projets -->
          <div *ngSwitchCase="4">
            <div formArrayName="projects">
              <div *ngFor="let project of projects.controls; let i = index" [formGroupName]="i" class="space-y-4 mb-4">
<div>             <div class="flex flex-col">
                  <label for="projectTitle" class="text-sm font-medium text-gray-300">Project projectTitle</label>
                  <input [(ngModel)]="from.projectTitle" formControlName="projectTitle" class="p-2 border border rounded-md bg-gray-700 text-gray-100" />
                </div>
                <!-- Description du projet -->
                <div class="flex flex-col">
                  <label for="description" class="text-sm font-medium text-gray-300">Project Description</label>
                  <textarea [(ngModel)]="from.description" formControlName="description" class="p-2 border border rounded-md bg-gray-700 text-gray-100"></textarea>
                </div>
                <!-- Technologies utilisées -->
                <div class="flex flex-col">
                  <label for="technologies" class="text-sm font-medium text-gray-300">Technologies</label>
                  <input [(ngModel)]="from.technologies" formControlName="technologies" class="p-2 border border rounded-md bg-gray-700 text-gray-100" />
                </div>
                <!-- Lien ou certificat -->
                <div class="flex flex-col">
                  <label for="linkcertficat" class="text-sm font-medium text-gray-300">Link/Certificate</label>
                  <input [(ngModel)]="from.linkcertficat" formControlName="linkcertficat" type="url" class="p-2 border border rounded-md bg-gray-700 text-gray-100" />
                </div>
                <!-- Bouton pour supprimer un projet -->
                <button type="button" *ngIf="projects.length > 1"
                  (click)="removeProject(i)" class="px-4 py-2 bg-red-500 text-white rounded-md mt-2 hover:bg-red-600 focus:outline-none">Remove Project</button>
              </div>
            </div></div>   
            <!-- Bouton pour ajouter un projet -->
            <div class="text-center">
              <button type="button" (click)="addProject()" 
              class="mt-6 bg-[#1726fc] text-white bg-[#1726fc] px-6 py-3 rounded-lg hover:bg-[#0d18a8] focus:outline-none focus:ring-2 focus:ring-[#0d18a8]">
                Add Project
              </button>
            </div>
          </div>

          <!-- Étape 6 : Certifications -->
          <div *ngSwitchCase="5">
            <div formArrayName="certifications">
              <div *ngFor="let certification of certifications.controls; let i = index" [formGroupName]="i" class="space-y-4 mt-4">
                <!-- Nom de la certification -->
                <div>
                  <label for="certificationName" class="block text-sm font-medium text-gray-300">Certification Name</label>
                  <input
                      [(ngModel)]="from.certificationName"
                      formControlName="certificationName"
                      type="text"
                      class="w-full p-2 border border rounded-lg focus:ring focus:ring-emerald-200 focus:outline-none bg-gray-700 text-gray-100"
                      placeholder="Enter the certification name"
                  />
                </div>
                <!-- Organisation émettrice -->
                <div>
                  <label for="issuingOrganization" class="block text-sm font-medium text-gray-300">Issuing Organization</label>
                  <input
                      [(ngModel)]="from.issuingOrganization"
                      formControlName="issuingOrganization"
                      type="text"
                      class="w-full p-2 border border rounded-lg focus:ring focus:ring-emerald-200 focus:outline-none bg-gray-700 text-gray-100"
                      placeholder="Enter the issuing organization"
                  />
                </div>
                <!-- Année et URL -->
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
                  <div>
                    <label for="year" class="block text-sm font-medium text-gray-300">Year</label>
                    <input
                        [(ngModel)]="from.year"
                        formControlName="year"
                        type="text"
                        class="w-full p-2 border border rounded-lg focus:ring focus:ring-emerald-200 focus:outline-none bg-gray-700 text-gray-100"
                        placeholder="Enter the year"
                    />
                  </div>
                  <div>
                    <label for="url" class="block text-sm font-medium text-gray-300">Certification URL</label>
                    <input
                        [(ngModel)]="from.url"
                        formControlName="url"
                        type="url"
                        class="w-full p-2 border border rounded-lg focus:ring focus:ring-emerald-200 focus:outline-none bg-gray-700 text-gray-700"
                        placeholder="Enter the certification URL"
                    />
                  </div>
                </div>
                <!-- Bouton pour supprimer une certification -->
                <button
                    type="button"
                    *ngIf="certifications.length > 1"
                    (click)="removeCertification(i)"
                    class="text-red-500 hover:text-red-700">
                    Remove Certification
                </button>
              </div>
            </div>
            <!-- Bouton pour ajouter une certification -->
            <div class="text-center">
              <button
                  type="button"
                  (click)="addCertification()"
                  class="mt-4 px-4 py-2 bg-[#1726fc] text-white hover:bg-[#0d18a8] rounded-lg">
                  Add Another Certification
              </button>
            </div>
          </div>
          <div *ngSwitchCase="6">
            <div formArrayName="skills">
              <div *ngFor="let skillGroup of skills.controls; let i = index" [formGroupName]="i">
                <div class="mb-4">
                  <label for="skills" class="block text-gray-300 font-medium mb-2">Skill</label>
                  <textarea
                    [(ngModel)]="skills"
                    formControlName="skills"
                    rows="4"
                    class="w-full p-2 border border rounded-lg focus:outline-none focus:border-[#1726fc] bg-gray-700 text-gray-100"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Boutons de navigation -->
          <div class="flex justify-between mt-6">
            <button
              type="button"
              class="px-4 py-2 bg-gray-700 text-gray-300 rounded-lg hover:bg-gray-600"
              (click)="previousStep()"
            >
              Previous
            </button>
            <button *ngIf="currentStep<7"
              type="button"
              class="px-4 py-2 bg-[#1726fc] text-white rounded-lg hover:bg-[#0d18a8]"
              (click)="nextStep()"
            >
              Next
            </button>
              <button *ngIf="currentStep"
                class="px-4 py-2 bg-[#1726fc] text-white rounded-lg hover:bg-[#0d18a8]"
                (click)="exportCvToHTML()" (click)="createResume($event)">
                💾 Save your CV
              </button>
          </div>
        
        </form>
      </div>
    </div>
  </div>

  
  <!-- CV (à droite) -->
  <div *ngIf="isCvVisible" class="flex-1 bg-[#150129] shadow-lg rounded-lg p-6 overflow-y-auto">
    <app-cv></app-cv>
  </div>
</div>