<div class="max-w-4xl mx-auto my-10 bg-white rounded-lg shadow-lg p-8">
  <!-- Header Section -->
  <div class="p-4 ">
    
    <div class="p-4">
      <div class="flex items-center">
        <div class="w-32 h-32 shadow-lg bg-white"   [ngClass]="['border', 'border-' + color]">
          >

          <img
            *ngIf="cvData?.profilePicture"
            [src]="cvData?.profilePicture"
            alt="Profile Image"
            class="object-cover w-full h-full"
          />
        </div>
     
      
        <div class="text-left pl-4">
          <h1 class="text-4xl break-all p-2 text-{{color}}">
            {{ cvData?.personalInfo?.firstName }} {{ cvData?.personalInfo?.lastName }}
          </h1>
          <h2 class="text-2xl break-all text-gray-700">{{ cvData?.personalInfo?.jobtitle }}</h2>
          <p class="text-gray-600 break-all mt-6">
            <label *ngIf="cvData?.personalInfo?.email" for=""> 
              Email: {{ cvData?.personalInfo?.email }} 
          </label>
          <label *ngIf="cvData?.personalInfo?.phone" for=""> 
              Phone: {{ cvData?.personalInfo?.phone }} 
          </label>
                    </p>
        </div> </div>
      </div>
    </div>
 
<div class="border-b-2  border-{{color}} pb-4"></div>
  <main class="mt-8">
    <!-- Profile Section -->
    <section class="mb-8">
      <h2 *ngIf="cvData?.professionalSummary" class="text-2xl p-2 text-{{color}} border-l-4 border-{{color}} pl-2">Summary</h2>
      <p class="text-gray-700 break-all mt-2">{{ cvData?.professionalSummary }}</p>
    </section>

    <!-- Skills Section -->
   <!-- Skills Section -->
   <section class="mb-8">
    <ul *ngFor="let skill of cvData?.skills" class="list-disc  list-inside mt-2 text-gray-700">
      <h2 *ngIf="skill?.skills  " class="text-2xl p-2 text-{{color}} border-l-4 border-{{color}} pl-2">Skills</h2>

      <li class="text-black break-all"  *ngIf="skill?.skills.length>0" >{{skill?.skills}}</li>
    </ul>
  </section>
  


    <!-- Experience Section -->
    <section class="mb-8">
      <div *ngFor="let experience of cvData?.experiences" class=" rounded-lg shadow-sm mb-4">
        <h2 *ngIf="experience?.jobTitle!='' || experience?.company!='' " class="text-2xl p-2 text-{{color}} border-l-4 border-{{color}} ">Experience</h2>

        <p *ngIf="experience?.company" class="text-lg break-all text-gray-700">
          <strong>Entreprise:</strong> {{ experience?.company }}
        </p>
        <p *ngIf="experience?.jobTitle" class="text-lg break-all text-gray-700">
          <strong>Poste:</strong> {{ experience?.jobTitle }}
        </p>
        <p *ngIf="experience?.startDate" class="text-lg break-all text-gray-700">
          <strong>Date de début:</strong> {{ experience?.startDate }}
        </p>
        <p *ngIf="experience?.endDate" class="text-lg break-all text-gray-700">
          <strong>Date de fin:</strong> {{ experience?.endDate }}
        </p>
        <p *ngIf="experience?.description" class="text-lg break-all text-gray-700">
          <strong>Description:</strong> {{ experience?.description }}
        </p>
      </div>
    </section>

    <!-- Education Section -->
    <section class="mb-8">
      <div *ngFor="let education of cvData?.educationPrinciple" class="p-4 rounded-lg shadow-sm mb-4">
      
        <h2 *ngIf="education?.institution!='' || education?.degree!='' || education?.specialization!='' " class="text-2xl p-2 text-{{color}} border-l-4 border-{{color}} pl-2">Education</h2>
        <p *ngIf="education?.institution" class="text-lg break-all text-gray-700">
          <strong>Institution:</strong> {{ education?.institution }}
        </p>
        <p *ngIf="education?.degree" class="text-lg break-all text-gray-700">
          <strong>Diplôme:</strong> {{ education?.degree }}
        </p>
        <p *ngIf="education?.specialization" class="text-lg break-all text-gray-700">
          <strong>Specialization:</strong> {{ education?.specialization }}
        </p>
        <p *ngIf="education?.startEdu" class="text-lg break-all text-gray-700">
          <strong>Date de début:</strong> {{ education?.startEdu }}
        </p>
        <p *ngIf="education?.endEdu" class="text-lg break-all text-gray-700">
          <strong>Date de fin:</strong> {{ education?.endEdu }}
        </p>
        <p *ngIf="education?.location" class="text-lg break-all text-gray-700">
          <strong>Location:</strong> {{ education?.location }}
        </p>
      </div>
    </section>

    <!-- Projects Section -->
    <section class="mb-8">
      <div *ngFor="let project of cvData?.projects" class="p-4 rounded-lg shadow-sm mb-4">
        <h2 *ngIf="project?.projectTitle!='' || project?.description!='' || project?.technologies!='' " class="text-2xl p-2 text-{{color}} border-l-4 border-{{color}} pl-2">Projects</h2>

        <p *ngIf="project?.projectTitle" class="text-lg break-all text-gray-700">
          <strong>Titre:</strong> {{ project?.projectTitle }}
        </p>
        <p *ngIf="project?.description" class="text-lg  break-all text-gray-700">
          <strong>Description:</strong> {{ project?.description }}
        </p>
        <p *ngIf="project?.technologies" class="text-lg break-all text-gray-700">
          <strong>Technologies:</strong> {{ project?.technologies }}
        </p>
        <p *ngIf="project?.linkcertficat" class="text-lg  break-alltext-gray-700">
          <strong>Lien du certificat:</strong>
          <a [href]="project?.linkcertficat" target="_blank" class="text-blue-600 break-all underline">Voir le projet</a>
        </p>
      </div>
    </section>

    <!-- Certifications Section -->
    <section class="mb-8">
      <div *ngFor="let certification of cvData?.certifications" class="p-4 rounded-lg shadow-sm mb-4">
        <h2  *ngIf="certification.certificationName!='' || certification.issuingOrganization!='' || certification.url!='' " class="text-2xl p-2 text-{{color}} border-l-4 border-{{color}} pl-2">Certifications</h2>

        <p *ngIf="certification?.certificationName" class="text-lg break-all text-gray-700">
          <strong>Certification Name:</strong> {{ certification.certificationName }}
        </p>
        <p *ngIf="certification?.issuingOrganization" class="text-lg break-all text-gray-700">
          <strong>Issuing Organization:</strong> {{ certification.issuingOrganization }}
        </p>
        <p *ngIf="certification?.year" class="text-lg break-all text-gray-700">
          <strong>Year:</strong> {{ certification.year }}
        </p>
        <p *ngIf="certification?.url" class="text-lg break-all text-gray-700">
          <strong>Certificate Link:</strong>
          <a [href]="certification.url" target="_blank" class="text-blue-600 underline">View Certificate</a>
        </p>
      </div>
    </section>
  </main>

  <!-- Footer Section -->
  <footer class="text-center mt-8 text-gray-600">
    <div class="flex justify-center space-x-4">
      <li *ngIf="cvData?.personalInfo?.linkedin">
        <a [href]="cvData?.personalInfo?.linkedin" target="_blank">
          <img src="/assets/linkedin.png" class="w-8 h-8" alt="LinkedIn">
        </a>
      </li>
      <li *ngIf="cvData?.personalInfo?.github">
        <a [href]="cvData?.personalInfo?.github" target="_blank">
          <img src="/assets/github.png" class="w-8 h-8 rounded-full" alt="GitHub">
        </a>
      </li>
    </div>
  </footer>
</div>
