<div class="grid grid-cols-2 sm:grid-cols-16 lg:grid-cols-32 gap-6 p-6 w-full">
  <div *ngFor="let widget of widgets" class="relative bg-white border border-gray-200 rounded-lg shadow-md p-6 w-full">
    <button
      (click)="removeWidget(widget.id)"
      class="absolute top-2 right-2 bg-red-500 text-white rounded-full w-6 h-6 flex items-center justify-center hover:bg-red-600"
    >
      ×
    </button>
    
    <button
      (click)="submitForm()" 
      class="absolute top-2 left-2 bg-blue-500 text-white rounded-full w-6 h-6 flex items-center justify-center hover:bg-blue-600"
    >
      🎨
    </button>
    
    <p [innerHTML]="widgets[this.currentWidgetIndex].content" class=""></p>
  </div>
</div>

