<div class="relative  inline-block">
  <button
    class="w-16 h-14 rounded-full   flex items-center justify-center text-gray-700 cursor-pointer"
    (click)="toggleColorOptions()"
  >
    🎨
  </button>

  <div
    *ngIf="showColorOptions"
    class="absolute top-16 left-1/2 transform -translate-x-1/2 bg-gray-900 border border-gray-800 rounded-lg shadow-lg p-2 whitespace-nowrap"
  >
    <div
      *ngFor="let color of displayedColors"
      [ngClass]="'w-8 h-8 rounded-full bg-' + color + ' inline-block mx-1 cursor-pointer border-2 border-white hover:border-black'"
      (click)="selectColor(color)"
    ></div>
  </div>
</div>
